USE [master]
GO
/****** Object:  Database [PtdK22CNT3Lesson7]    Script Date: 12/06/2024 10:57:53 SA ******/
CREATE DATABASE [PtdK22CNT3Lesson7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PtdK22CNT3Lesson7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PHAMTHANHDAT\MSSQL\DATA\PtdK22CNT3Lesson7.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PtdK22CNT3Lesson7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PHAMTHANHDAT\MSSQL\DATA\PtdK22CNT3Lesson7_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PtdK22CNT3Lesson7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PtdK22CNT3Lesson7]
GO
/****** Object:  Table [dbo].[PtdKhoa]    Script Date: 12/06/2024 10:57:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PtdKhoa](
	[PtdMaKH] [nchar](10) NOT NULL,
	[PtdTenKh] [nvarchar](50) NULL,
	[PtdTrangThai] [bit] NULL,
 CONSTRAINT [PK_PtdKhoa] PRIMARY KEY CLUSTERED 
(
	[PtdMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PtdSV]    Script Date: 12/06/2024 10:57:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PtdSV](
	[PtdMaSV] [nvarchar](50) NOT NULL,
	[PtdHoSV] [nvarchar](50) NULL,
	[PtdTenSV] [nvarchar](50) NULL,
	[PtdNgaySinh] [date] NULL,
	[PtdPhai] [bit] NULL,
	[PtdPhone] [nchar](10) NULL,
	[Ptdmail] [nvarchar](50) NULL,
	[PtdMaKH] [nchar](10) NULL,
 CONSTRAINT [PK_PtdSV] PRIMARY KEY CLUSTERED 
(
	[PtdMaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PtdSV] ([PtdMaSV], [PtdHoSV], [PtdTenSV], [PtdNgaySinh], [PtdPhai], [PtdPhone], [Ptdmail], [PtdMaKH]) VALUES (N'1232', N'psjuauga', N'adfsaf', CAST(N'2001-12-21' AS Date), NULL, N'35436     ', N'hahg', NULL)
GO
ALTER TABLE [dbo].[PtdSV]  WITH CHECK ADD  CONSTRAINT [FK_PtdSV_PtdKhoa] FOREIGN KEY([PtdMaKH])
REFERENCES [dbo].[PtdKhoa] ([PtdMaKH])
GO
ALTER TABLE [dbo].[PtdSV] CHECK CONSTRAINT [FK_PtdSV_PtdKhoa]
GO
USE [master]
GO
