@{
    ViewBag.Title = "Pham Thanh Dat";
}
<h2>@ViewBag.Title.</h2>
<h3>Bai thi giua ki Pham Thanh Dat </h3>

<address>
    K22CNT3-Mon lap trinh ung dung Web Cong Nghe ASP.NET MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Chungtrinhj@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:thanhdat160924@gmail.com">thanhdat160924@gmail.com</a>
</address>